body {
    background-color: #eee;
    display: flex;
}

body div {
    flex-grow: 1;
    background-color: #fff;
    margin: 5px;
    margin-top: 0px;
    
}

#meals {
    margin-left: 0px;

}

#orders {
    margin-right: 0px;
}

ul {
    list-style-type: none;
}

#submit{
    background-color: #2a91bd;
    color: #fff;
    padding: 10px 15px;
    border: 0px solid;  
    border-radius: 25px;
    margin: 15px;
    margin-left: 38px;
}

#submit:disabled{
    background-color: #ccc;
}

#meals-list li{
    cursor: pointer;
}
.selected{
    background-color: #eee;
}

.form-main {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 15px;
    padding-bottom: 30px;
}

.login-form p {
    margin-bottom: 5px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form input {    
    width: calc(100% - 10px);
    height: 24px;
    padding-left: 5px;
    background-color: rgb(255, 232, 232);
    border: 1px solid;
    border-radius: 4px;
    border-color: darkgray;
}

.btn {
    border: solid 1px;
    padding: 8px 12px;
    background-color:#2a91bd;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    margin-top: 15px;
}

.form-title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large;
    text-align:center;
    
}



